body {
    border: 1px solid;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer {
    height: 80px;
    color: white;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}